* {
  font-family: "Cascadia Code", monospace;
}

.main-page {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}
.main-page .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.main-page .header h1 {
  margin: 0;
}
.main-page .header .search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}
.main-page .header .sign-out-btn,
.main-page .header .favorites-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 10px;
}
.main-page .header .sign-out-btn:hover,
.main-page .header .favorites-btn:hover {
  background-color: #40E0D0;
}
.main-page .header .sign-out-btn {
  background-color: #FF355E;
}
[data-theme=dark] .main-page .header .sign-out-btn {
  background-color: #A8092D;
}
.main-page .header .sign-out-btn:hover {
  background-color: #cc0000;
}
.main-page .header .favorites-btn {
  background-color: #2AC6B6;
}
[data-theme=dark] .main-page .header .favorites-btn {
  background-color: #22797A;
}
.main-page .countries {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.main-page .countries .country {
  padding: 15px;
  background: #959595;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  background: transparent;
}
.main-page .countries .country.favorite {
  background-color: #ffeb3b;
}
[data-theme=dark] .main-page .countries .country.favorite {
  background-color: #EEB42C;
}
.main-page .countries .country:hover {
  background-color: #CFD1D4;
  background-image: linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%) 1;
  border-style: solid;
}
[data-theme=dark] .main-page .countries .country {
  background: #001D3F;
}
[data-theme=dark] .main-page .countries .country.favorite {
  background-color: #ffeb3b;
}
[data-theme=dark] .main-page .countries .country:hover {
  background-color: #04356A;
  background-image: linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%) 1;
  border-radius: 8px;
  border-style: solid;
}

.post-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
.post-page h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}
.post-page p {
  margin: 10px 0;
}
.post-page .favorite-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 8px;
}
[data-theme=dark] .post-page .favorite-btn {
  background-color: #22797A;
}
.post-page .favorite-btn.remove-favorite {
  background-color: #f44336;
  border-radius: 8px;
}
[data-theme=dark] .post-page .favorite-btn.remove-favorite {
  background-color: #A8092D;
}
.post-page .favorite-btn:hover {
  background-color: #45a049;
}
[data-theme=dark] .post-page .favorite-btn:hover {
  background-color: #114852;
}
.post-page .back-btn {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 8px;
}
.post-page .back-btn:hover {
  background-color: #d32f2f;
}

.favorite-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
.favorite-page .favorite-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.favorite-page .favorite-list .favorite-country {
  padding: 15px;
  background: #f4f4f4;
  border-radius: 8px;
  cursor: pointer;
}
[data-theme=dark] .favorite-page .favorite-list .favorite-country {
  background-color: #0B262B;
}
.favorite-page .favorite-list .favorite-country:hover {
  background-color: #eaeaea;
}
[data-theme=dark] .favorite-page .favorite-list .favorite-country:hover {
  background-color: #114852;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.input-label {
  font-family: "Cascadia Code", monospace;
  margin-bottom: 0.5rem;
  color: var(--text-color);
}

.input-field {
  padding: 0.5rem;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  font-family: "Cascadia Code", monospace;
  background-color: var(--input-bg);
  color: var(--text-color);
}

.input-field:focus {
  outline: none;
  border-color: var(--focus-border-color);
}

:root {
  --background-color: #fff;
  --text-color: #000919;
}

[data-theme=dark] {
  --background-color: #000919;
  --text-color: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

[data-theme=light] body {
  background-color: #B6B6B6;
}/*# sourceMappingURL=styles.css.map */